{:kotoba.app/id "cloud.itonami.isic-6420", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidakazrcwsvoxwv2jwtfhrtm6ewql5jbuiseqecz5xwwuav4zbsh4", :kotoba.app/embed-url "ipfs://bafkreidakazrcwsvoxwv2jwtfhrtm6ewql5jbuiseqecz5xwwuav4zbsh4", :published {:archive "https://kotobase.net/ipfs/bafkreidakazrcwsvoxwv2jwtfhrtm6ewql5jbuiseqecz5xwwuav4zbsh4", :size 75966, :put-status 201, :get-status 200, :at "2026-08-15T14:00:57.438Z"}}
